<style>
h2 {
  margin-top: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

</style>
<h3>Questionnaire</h3>
<h2>First question (1: not important ... 5: very important)</h2>
<table id="first_question" class="table-borderless table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr class="trs">
      <td class="z1_1">z1:</td>
      <td class="rows" id="1"><input type="checkbox"></input></td>
      <td class="rows" id="2"><input type="checkbox"></input></td>
      <td class="rows" id="3"><input type="checkbox"></input></td>
      <td class="rows" id="4"><input type="checkbox"></input></td>
      <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z2_1">z2:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z3_1">z3:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z4_1">z4:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z5_1">z5:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z6_1">z6:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z7_1">z7:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
  </tbody>
</table>

<h2>Second question (1: not important ... 5: very important)</h2>
<table id="second_question" class="table-borderless table-condensed table-hover">
  <thead>
    <tr>
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr class="trs">
      <td class="z1_2">z1:</td>
      <td class="rows" id="1"><input type="checkbox"></input></td>
      <td class="rows" id="2"><input type="checkbox"></input></td>
      <td class="rows" id="3"><input type="checkbox"></input></td>
      <td class="rows" id="4"><input type="checkbox"></input></td>
      <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z2_2">z2:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z3_2">z3:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z4_2">z4:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z5_2">z5:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z6_2">z6:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
    <tr class="trs">
    <td class="z7_2">z7:</td>
    <td class="rows" id="1"><input type="checkbox"></input></td>
    <td class="rows" id="2"><input type="checkbox"></input></td>
    <td class="rows" id="3"><input type="checkbox"></input></td>
    <td class="rows" id="4"><input type="checkbox"></input></td>
    <td class="rows" id="5"><input type="checkbox"></input></td>
    </tr>
  </tbody>
</table>
<button id="submit">SUBMIT</button>
<script>
  $(function() {
    $('input').click(function (event) {
      var $rows = $(this).parent().siblings('.rows');
      for(var i = 0; i < $rows.length; i++) {
        $($rows.get(i)).children().first().prop("checked", false);
      }
      $(this).prop("checked", true);
    });

    $('#submit').click(function(event) {
      var hashedinput = {};
      $('.trs').each(function(index) {
        var name = $($('.trs').get(index)).children().get(0).className;
        var $children = $($('.trs').get(index)).children();
        for(var i = 1; i < $children.length; i++) {
          if($($($children[i]).children().get(0)).is(':checked')) {
            var $input = $($($(this).children().get(i)).children().get(0)).parent().attr('id');
            hashedinput[name] = $input;
          }
        }
      });
      window.alert('hashedinput: ' + JSON.stringify(hashedinput));
    });
  });
</script>
