<html>
<head>
<style type="text/css">
  body {
     margin-left: 0px;
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     background-color: #CCCCCC;
  }
</style>
<script type="text/javascript">

function MM_openBrWindow(theURL,winName,features) { //v2.0
  window.open(theURL,winName,features);
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}

</script>
</head>

<body>
  <!--
 <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-info">
    <div>
    <h1 class="display-4 font-weight-normal">Use-case toolkit</h1>
    <p class="lead font-weight-normal">Here you will find some information about toolkit usage.</p>
 <!--   <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
<!--  </div>
 </div>
 <div>
   <p>
     <strong>What is a model?</strong> <br>
     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
      <div>Model definition </div> <br>
      <div align="middle"><img style="width:500px;height:500px;" src="/assets/modelProcess.png" data-holder-rendered="true"  align="middle"></div> <br>
       <div align="middle"><img style="width:500px;height:500px;" src="/assets/smallSchema1.png" data-holder-rendered="true"  align="middle"></div> <br>
       <div align="middle"><img style="width:500px;height:500px;" src="/assets/bigSchema.png" data-holder-rendered="true"  align="middle"></div>
     </div>
   </p>
   <p>
     <strong>Model types:</strong> <br>
   <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
     <div>Types definition</div> <br>
     <div align="middle"><img style="width:500px;height:500px;" src="/assets/3rowsDiagram.png" data-holder-rendered="true"  align="middle"></div> <br>
   </div>
   </p>
   <p>
     <strong>Model outputs:</strong> <br>
   <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
     <div>Outputs definition</div> <br>
     <div align="middle"><img style="width:500px;height:500px;" src="/assets/4graphic.png" data-holder-rendered="true"  align="middle"></div> <br>
   </div>
   </p>
 </div> -->
 <div class="noclass">
<% link_to "Main menu", home_path, method: :get %>
</div>
 <table width="3275" height="99% border=" border="0" cellpadding="0"" cellspacing="0"0>
  <tr>
    <td align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="3542" height="550" bgcolor="#FFFFFF"><table width="3951" height="550" border="0" cellpadding="0" cellspacing="0" class="alt_tag" id="Table_">
            <tr>
              <td rowspan="11"><img src="/assets/technikGAMS.png" width="217" height="550" alt=""></td>
              <td colspan="2" rowspan="5"><img src="/assets/modelProcess.png" width="550" height="210" alt=""></td>
            </tr>
            <tr>
              <td rowspan="10"><img src="/assets/3rowsDiagram.png" width="136" height="528" alt=""></td>
            </tr>
            <tr>
              <td rowspan="9"><img src="/assets/technikGAMS.png" width="112" height="500" alt=""></td>
              <td><img src="/assets/3rowsDiagram.png" width="337" height="126" alt="We are based in the UK and we shoot bottles, lots of bottles! Our speciality is photographing bottles of any shape, any content, any size, at a price that makes everyone happy."></td>
              <td rowspan="4"><img src="images/something_extra.png" width="413" height="202" alt="We know our standard bottle shots are stunning, however, you may need something a little &lsquo;less standard&rsquo;...  We are more than happy to shoot your products however you need them, from boxed items, group shots to adding &lsquo;spritzing&rsquo; (condensation) and props.  Extra retouching is also available for things such as label replacement or artwork / element changes.  Get intouch to discuss your requirements, we&rsquo;ll give you a great price."></td>
            </tr>
            <tr>
              <td rowspan="8"><img src="/assets/technikGAMS.png" width="337" height="374" alt=""></td>
            </tr>
            <tr>
              <td rowspan="5"><img src="images/bottle_18.png" width="637" height="294" alt="nothing but bottles - scroll this way"></td>
              <td width="117" height="353" rowspan="7"><img src="/assets/technikGAMS.png" width="117" height="353" alt=""></td>
              <td><img src="images/spacer.gif" width="1" height="13" alt=""></td>
            </tr>
            <tr>
              <td colspan="2" rowspan="2"><img src="images/what_you_get.png" width="550" height="144" alt="Send us your bottles, we shoot them digitally at high resolution including the REAL reflection. We then retouch each and every shot ie scuffs on labels, chips in the glass etc, and create a cutout path ready for you to use straight away for print or web.  The image files are then supplied back to you via our Bottle-bank image server.."></td>
              <td><img src="images/spacer.gif" width="1" height="42" alt=""></td>
            </tr>
            <tr>
              <td rowspan="5"><img src="images/bottle_21.jpg" width="423" height="298" alt=""></td>
              <td rowspan="5"><img src="images/bottle_22.jpg" width="413" height="298" alt=""></td>
              <td><img src="images/spacer.gif" width="1" height="102" alt=""></td>
            </tr>
            <tr>
              <td rowspan="4"><img src="/assets/3rowsDiagram.png" width="249" height="196" alt=""></td>
              <td width="301" height="85"><img src="images/spacer.gif" width="301" height="85" alt=""></td>
              <td rowspan="3"><img src="images/bottle_25.jpg" width="37" height="148" alt=""></td>
            </tr>
            <tr>

            </tr>
            <tr>

            </tr>
            <tr>
              <td colspan="3"><img src="/assets/technikGAMS.png" width="294" height="48" alt=""></td>
              <td><img src="images/spacer.gif" width="1" height="48" alt=""></td>
            </tr>
          </table></td>
          <td width="484" height="20" align="left" valign="top" bgcolor="#FFFFFF"><table width="500" border="0" align="left" cellpadding="0" cellspacing="0" class="alt_tag">
            <tr>
              <td width="37" rowspan="6">&nbsp;</td>
              <td width="403" height="22">&nbsp;</td>
              <td width="37" rowspan="6">&nbsp;</td>
            </tr>
            <tr>
              <td width="403" height="60">&nbsp;</td>
              </tr>
            <tr>
              <td width="403"><img src="images/bottle_contact_03.gif" width="284" height="72" alt=""></td>
              </tr>
            <tr>
              <td width="403"><img src="images/tel.gif" width="284" height="36" alt="Telephone +44 (0) 1924 830 001"></td>
              </tr>
            <tr>
              <td width="403"><a href="mailto:studio@weshootbottles.com?subject=Let's Talk Bottles!" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image89','','images/email2_on.gif',1)"><img src="images/email2_off.gif" alt="studio@weshootbottles.com" name="Image89" width="406" height="36" border="0"></a></td>
              </tr>
            <tr>
              <td height="20" align="left" valign="top" class="profile_bodyBLD"><p>&nbsp;</p>
                <table width="403" border="0" cellpadding="7" cellspacing="0" class="profile_bodyBLD">
                  <tr>
                    <td valign="middle"><p><span class="profile_body">Want to learn more about what we do and what we can offer?</span><br>
                      <span class="big_bld"><a href="http://eepurl.com/fpon6" target="_blank" class="big_bld">Join our mailing list</a></span></p>
                      <p><a href="https://twitter.com/WeShootBottles" class="twitter-follow-button" data-button="grey" data-link-color="EE199D" data-text-color="#EE199D" data-show-count="false">Follow @WeShootBottles</a>
<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script></td>
                  </tr>
                </table>
                <table width="403" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="130" align="left" valign="bottom"><img src="images/WSB-logo.jpg" width="138" height="106"></td>
                    <td height="130" align="center" valign="bottom"><a href="http://www.redphotography.com/cans/" target="_blank"><img src="images/WSC-logo.jpg" width="165" height="105" border="0"></a></td>
                  </tr>
                </table>
                <table width="425" border="0" cellspacing="0" cellpadding="7">
                  <tr>
                    <td width="411" height="100" valign="bottom"><p class="profile_body">Weshootbottles.com &amp; Weshootcans.com are divisions of: <br>
                      Red Photography Ltd, 6 Longside, Jebb Lane, Barnsley S75 4BS, United Kingdom<br>
                      UK Reg No 4289184 | VAT Reg No. 779931366</p></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
    </table>
    </td>
  </tr>
</table>

<map name="Map"><area shape="rect" coords="9,8,106,266" href="#" onClick="MM_openBrWindow('zoomer01.html','bottlezoom','width=360,height=650')">
</map>
</body>
</html>
