<body>
 <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-info">
    <div>
    <h1 class="display-4 font-weight-normal">Use-case toolkit</h1>
    <p class="lead font-weight-normal">Here you will find some information about toolkit usage.</p>
 <!--   <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
  </div>
 </div>
 <div>
   <p>
     <strong>What is a model?</strong> <br>
     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
      <div>Model definition </div> <br>
      <div align="middle"><img style="width:500px;height:500px;" src="/assets/modelProcess.png" data-holder-rendered="true"  align="middle"></div> <br>
       <div align="middle"><img style="width:500px;height:500px;" src="/assets/smallSchema1.png" data-holder-rendered="true"  align="middle"></div> <br>
       <div align="middle"><img style="width:500px;height:500px;" src="/assets/bigSchema.png" data-holder-rendered="true"  align="middle"></div>
     </div>
   </p>
   <p>
     <strong>Model types:</strong> <br>
   <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
     <div>Types definition</div> <br>
     <div align="middle"><img style="width:500px;height:500px;" src="/assets/3rowsDiagram.png" data-holder-rendered="true"  align="middle"></div> <br>
   </div>
   </p>
   <p>
     <strong>Model outputs:</strong> <br>
   <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
     <div>Outputs definition</div> <br>
     <div align="middle"><img style="width:500px;height:500px;" src="/assets/4graphic.png" data-holder-rendered="true"  align="middle"></div> <br>
   </div>
   </p>
 </div>
</body>