<html>
<head>
</head>
<body>
  <div>
    <a href="javascript:history.back()" class="btn btn-primary">Back</a>
  </div>
  <h1>Modell <%= @id.to_s %>
  </h1>
  <div>Text text text</div>
</body>
</html>
