<h1> Received request </h1>
<p><%= @content %></p>
<script>
   // $document.on('turbolinks:click', function() {

   $( document ).on('turbolinks:load', function() {
       $(".spinner").show();
   })
 /* $(document).ready(function () {
        // show spinner
        $(".spinner").show();
    });
*/
 /*   $document.on('turbolinks:load', function() {
        // hide spinner
        $(".spinner").hide();
    }); */
</script>