<style type="text/css">
#centered_buttons {
 display: flex;
 justify-content: space-around;
}
#centered_buttons > * {
  width: 180px;
  height: 90px;
  background-color: #ADAECC;
  font-weight: bold;
  font-size: 150%;
  color: #FBFAF9;
  align: center;
}
main {
  background-color: transparent;
}
body {
  background-color: rgba(255,228,196, 0.3);
}
h1 {
  margin-top: 10vh;
  margin-bottom: 20vh;
}
</style>
<h1>Wählen Sie eine Möglichkeit aus</h1>
<div id="centered_buttons">
    <%= link_to 'Direkt zum Spielen',  graph3_path(2)  %>
    <% if !logged_in? %>
    <%= link_to 'Login und Spielen', login_path %>
    <% else %>
    <%= link_to 'Logout', logout_path, method: :delete %>
    <% end %>
</div>
