// Place all the styles related to the Model controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outputName {
  font-weight: bold;
  width: 20em;
}

.elem {
  margin-top: 1em;
}

.inputName {
  display: inline-block;
  font-weight: bold;
}

.inputValue {
  display: inline-block;
  font-style: italic;
}

.inputsList {
//  margin-top: -9em;
}

.checkbox {
  //margin-left: 2em;

  text-align: center;
//  width: 30em;
}

#contentinner {
  background: #f9f9f9;
//  min-height: 100vh;
//  min-width: 800px;
  border-style: solid;
  border-color: #5bc0de;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
}

.mainContent {
//  margin-top: 25.5%;
//  margin-top: 31.5%;
//  transform: translateY(-50%);
}

#containerinner2 {
  background: #f9f9f9;
//  min-height: 100vh;
// min-width: 500px;
  border-style: solid;
  border-color: #5bc0de;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  display: flex;
//  margin-right: 0px;

  flex-direction: column;
  justify-content: center;
}

#container1 {
  border-width: thin;
  border-style: solid;
  border-color: black;
  position: relative;

  margin-left: 0px;
  margin-right: 0px;
  margin-top: 1px;
  margin-bottom: 1px;
  overflow: hidden;
}

#container2 {
//  margin-top: 82%;
//  transform: translateY(-50%);
  border-width: thin;
  border-style: solid;
  border-color: black;
  position: relative;
  overflow: hidden;

  margin-left: 0px;
  margin-right: 0px;
//  margin-bottom: 0px;
}

/*
.row {
    flex-direction: row;
    right: 5px;
    height: auto;
    transition: right 0.5s ease-in-out;
} */

#left {
  position: relative;
  float: left;
  margin-left: 10px;
  color: #5bc0de;
}

#right {
  position: relative;
  float: left;
  margin-left: 5px;
  color: #5bc0de;
}

/*
#right {
    position: relative;
    float: left;
    margin-left: 5px;
    color: #5bc0de;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

#left {
    position: relative;
    float: right;
    margin-right: 5px;
    color: #5bc0de;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
} */

#hiddenleft {
  position: relative;
  float: right;
  //margin-right: 0px;
  color: #5bc0de;
}

#hiddenright {
  position: relative;
  float: left;
//  margin-left: 0px;
  color: #5bc0de;
}

.wrapper {
  display: flex;
  justify-content: center;
//justify-content: space-evenly;
}

/*
.wrapper > #hiddenright {
  order: 0;
} */

.wrapper > nav {
  order: 1;
  min-width: 30vw;
//  max-width: 25%;
}

.wrapper > #contentinner {
   order: 2;
   min-width: 50vw;
//   min-width: 70vw;
   min-height: 100vh;
}

.wrapper > #containerinner2 {
  order: 3;
  min-width: 25vw;
  min-height: 100vh;
}

.wrapper > #hiddenleft {
  order: 4;
}

#sidebar {
        background: #f9f9f9;
      //  min-width: 18%;
      //  max-width: 18%;
        min-height: 100vh;
      //  left: 0px;
        border-style: solid;
        border-color: #5bc0de;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
}

.ui-slider
.ui-slider-pips { background-color: black; }
.ui-slider-float { color: black; }
    .ui-slider-handle { color: red;  }
        .ui-slider-tip { color: red;  }
    .ui-slider-pip { color: red;  }
    .ui-slider-pip-nth { color: red;  }
        .ui-slider-line { color: red; }
        .ui-slider-label { font-weight: normal; color: black; }
        .ui-slider-tip-label { color: black; }
    .ui-slider-pip-hide {}
    .ui-slider-pip-last { color: red;  }
    .ui-slider-pip-first { color: red;  }
    .ui-slider-pip-label { color: black; }
    .ui-slider-pip-inrange { color: red; }
    .ui-slider-pip-initial { color: red;  }
    .ui-slider-pip-selected { color: red; }
    .ui-slider-pip-initial-nth { color: red;  }
    .ui-slider-pip-selected-nth { color: red;  }

.slidecontainer {
//  width: 98%;
}

#text_input:-moz-read-only {
    background-color: white;
}

#text_input:read-only {
    background-color: white;
}

.input-group {
  position: relative;
  top: 85px;
  width: 25%;
  margin-left: 20px;
  margin-right: auto;
}

button {
  border-radius: 5px;
}

#sidebar ul li {
  margin: 20px 0 40px 0;
}

.slider, .subslider {
  width: 95%;
}

/* The slider itself */
.slider1 {
    -webkit-appearance: none;  /* Override default CSS styles */
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: white; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider1:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider1::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background: #428bca; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider1::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    border-radius: 50%;
    background: #428bca; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

label {
  display: inline-block;
}


nav .pagination {
   position: absolute;
   left: 50%;
   transform: translatex(-50%);
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: white;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}
